<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>PVランキング</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>順位</th>
      <th>タイトル</th>
      <th>PV数</th>
    </tr>
    </thead>

    <tbody>
    <% @pv_ranking.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.review.truncate(60)  %></td>
        <td><%= blog.impressions_count%></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>