<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>レビュー一覧</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.review.truncate(60)  %></td>
        <td><%= link_to 'Show', admin_blog_path(blog) %></td>
        <td>
          <%= link_to edit_admin_blog_path(blog), method: :get do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%#= link_to 'Edit', edit_blog_path(blog) %>
        </td>
        <td>
          <%= link_to blog, method: :delete, data: {confirm: 'ほんとうに消しますか？'} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <%#= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '新規投稿', new_admin_blog_path, class: 'btn btn-block btn-success btn-sm' %>

</div>