<h1>レビュー新規登録</h1>
<%= form_with(model: @blog, url: admin_blogs_path, method: :post, local: true) do |f| %>
  <div class="validates">
    <% if @blog.errors.any? %>
      <%= @blog.errors.count %> 件の入力ミスがあります。
      <% @blog.errors.full_messages.each do |message| %><br>
        ・<%= message %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :device_image %>
    <%= f.attachment_field :device_image, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control'  %>
  </div>

  <div class="field" id="star">
    <%= f.label :evaluation, "星評価：" %>
    <%= f.hidden_field :evaluation, id: :review_star %>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'blog[evaluation]',   # evaluationカラムへの保存
        half: true,   # 星半分の入力
      });
    </script>
  </div>

  <div class="actions mt-3">
    <%= f.submit "保存する", class: 'btn btn-block btn-success btn-sm' %>
  </div>

<% end %>

