<div class="container">

  <div class="card my-5">
    <div class="card-body">
      <div class="card-title">
        <h1>
          <%= @blog.title %>
        </h1>
      </div>
        <%= attachment_image_tag @blog, :device_image, :fill, 300, 300, format: 'jpeg' %>
        <div class="text-right">
          更新日<%= @blog.updated_at.strftime("%Y-%m-%d") %>
        </div>
      </div>
      <div class="card-text">
        <%= @blog.review %>
      </div>
    </div>
   </div>

  <%= link_to 'Edit', edit_admin_blog_path(@blog) %> |
  <%= link_to 'Back', admin_blogs_path %>

</div>
